@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.Container .Intro-text {
  margin-top: 250px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.Container .Intro-text h1 {
  font-size: 50px;
  color: rgb(6, 8, 19);
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px #b8acac;

  font-weight: 600;
}
.Container .Intro-text p {
  color: rgb(6, 8, 19);
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px #b8acac;
}
.Container .Intro-text span {
  color: rgb(233, 21, 215);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.Counter-div {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.Container .Intro-img img {
  width: 400px;
  height: 500px;
  margin-top: 200px;
  margin-left: 100px;
  border-radius: 10px;
  border-top-left-radius: 90px 90px;
  border-top-right-radius: 10px 20px;
}
.slide-container div h1 {
  text-align: center;
  color: #f7f7e8;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #9494b8;

  font-family: "Roboto", sans-serif;
}
.slide-container {
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.slide-container div div {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  width: auto;
}
.Home {
  margin: 0;
}
.Details {
  display: block;
  place-items: center;
}
.Details p {
  text-align: center;
  font-size: 15px;
  margin: 20px;
  font-family: "Roboto",sans-serif;
}
* {
  text-decoration: none;
}
.Intro h2 {
  padding-top: 60px;
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
}
.Intro h1 {
  color: aliceblue;
  text-align: center;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  margin-top: 30px;
}

.Sold-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

#Select {
  color: aliceblue;
}
.Find {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #294230;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  border-radius: 10px;
}
.Find select {
  background-color: #fcf8e8;
  color: #2c3639;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.Home {
  padding-bottom: 2%;
}
.places {
  padding: 20px;
}
.places h1 {
  color: #2c3639;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(6, 255, 255);
}
.show-place img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.show-place {
  margin: 10px;
  background-color: #3006a5;
  padding: 10px;
  border-radius: 10px;
  color: #f0f0f7;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.show-place span {
  text-transform: uppercase;
}
#type {
  text-align: center;
  font-size: 20px;
  color: #acdae7;
}
.view {
  background-color: #252926;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
}

/*responsive */
@media only screen and (max-width: 600px) {
  select {
    width: 60px;
  }
  .show-place {
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin: auto;
  }
  .Container .Intro-img #side {
    display: none;
  }
  .show-place {
    margin-top: 10px;
    margin-left: 30px;
    background-color: #294230;
    border-radius: 10px;
    color: #f0f0f7;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .places {
    padding: 0px;
  }
  .Container .Intro-text .Count {
    text-align: center;
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
  }
  .Container .Intro-text {
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }
  .Container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(7, 46, 40, 1) 45%,
      rgba(0, 212, 255, 1) 99%
    );
    height: auto;
  }
  .slide-container div {
    width: 70%;
  }
}
